*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-wrap: wrap;
}
.nav_right{
    justify-content: space-between;
    display: flex;
    color: #ffffff;
}
.logo{
    display: flex;
    margin-left: 80px;
}
.logo h1{
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-top: 24px;
    margin-left: -19px;
}
.logo:hover{
    cursor: pointer;
}
.logo a:link{
    color: #ffffff;
    text-decoration: none;
}
.logo a:visited{
    color: #ffffff;
}
.menu:hover{
    color: rgb(107, 218, 107);
    cursor: pointer;
}
.menu a:link{
    color: #ffffff;
    text-decoration: none;
}
.menu a:visited{
    color: #ffffff;
}
.menu a:hover{
    color: rgb(107, 218, 107);
    cursor: pointer;
}
.logo img{
    height: 60px;
    width: 60px;
    padding: 10px;
}
.nav_right{
    padding: 30px;
    list-style: none;
    margin-right: 100px;
}
.nav_right li{
    padding-left: 35px;
    font-size: 16px;
    font-weight: 700;
    /* font-weight: bold; */
}
.banner{
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    height: 550px;
    
}
.banner h1{
    color: #ffffff;
    font-size: 60px;
    padding: 0px 20px 50px 560px;
    margin-top: -350px;
}
.banner img{
    padding: 100px 0px 0px 230px;
    height: 450px;
    width: 250px;
}
.banbutt{
    padding: 0px 20px 70px 560px;
    margin-top: -30px;
}
.banbutt button{
    font-weight: 800;
}
.banner button{
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    border: none;
}
.banner button:hover{
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;  
    padding-top: 25px;
    margin-top: -10px; 
    font-weight: 900;
}
.why{
    text-align: center;
    margin-top: 80px;
}
.why p{
    font-size: 40px;
    font-weight: 800;
}
.secondlayer{
    text-align: center;
}
.section{
    /* max-width: 0%; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.components{
    text-align: center;
    padding-left: 30px;
    max-width: 250px;
}
.components img{
    height: 140px;
}
.components p{
    padding-top: 10px;
}
.section_two{
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    height: 300px;
    text-align: center;
    padding-top: 200px;
    margin-top: 150px;
}
.section_two h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: 900;
}
.question{
    margin-left: 200px;
}
.q_one{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.q_one:hover{
    background-color: #b7b7b786;
    text-decoration: underline;
    cursor: pointer;
}
.q_one img{
    height: 20px;
}
.q_one p{
    font-size: 18px;
    font-weight: 900;
    padding-left: 10px;
    padding-bottom: 10px;
}
.hr{
    width: 80%;
}
.play{
    background: url(https://www.scdn.co/i/free/lets-play.svg) left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: ;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 100px;
    /* background: linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    height: 400px;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background-position: center center;
     */
}

.play h1{
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    padding-top: 100px;
}
.pay{
    text-align: center;
    padding-top: 20px;
}
.pay button{
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 800;
}
.pay button:hover{
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;  
    padding-top: 25px;
    margin-top: -10px; 
    font-weight: 900;
}
footer{
    background-color: black;
    height: 480px;
}
.foot{
    display: flex;
    justify-content: space-between;
}
footer ul{
    list-style: none;
}
.options{
    display: flex;
    margin: 80px 170px 0px 0px;
    
}
.options ul{
    padding-left: 80px;
}
.li{
    color: #ffffff;
    padding-top: 20px;
}
.li:hover{
    color: rgb(107, 218, 107);
    cursor: pointer;
}
.title{
    color: grey;
    font-size: 12px;
}
.bam{
    display: flex;
    margin: 60px 40px 40px 40px;
    margin-right: -70px;
    margin-left: 150px;
}
.bam img{
    height: 50px;
    width: 50px;
}
.bam h1{
     color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: -9px;
}
.social{
   display: flex;
   padding-right: 180px;
   margin-top: 90px;
}
.social li button{

}
.social img{
    height: 20px;
    padding-left: 10px;
}
.underfoot{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.legal li{
    list-style: none;
    padding: 10px;
    font-size: 11px;
}
.legal li:hover{
    cursor: pointer;
    color: rgb(107, 218, 107);
}
.legal{
    display: flex;
    margin-left: 140px;
}
.feet{
    margin-top: -50px;
    margin-right: 180px;
}
.feet li{
    padding-top: 20px;
    font-size: 11px;

}
.fat{
    margin-left: -40px;
}
.feet li:hover{
    cursor: pointer;
    color: rgb(107, 218, 107);
}
.download{
    background-color: rgb(37, 180, 113);
    height: 470px;
    text-align: center;
}
.laptop{
    height: 80px;
    margin-bottom: -160px;
}
.download h1{
    font-size: 40px;
    padding-top: 200px;
}
.download p{
    font-size: 13px;
    padding-top: 30px;
}
.load{
    padding-top: 30px;
}
.load button{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 800;
}
.load button:hover{
    padding: 15px 30px 15px 30px;
}
.flay{
    height: 59px;
    margin-bottom: -9px;
}
.along{
    text-align: center;
    height: 300px;
}
.along h1{
    font-size: 27px;
    word-spacing: 2px;
    padding-top: 80px;
}
.along p{
    padding-top: 30px;
}
.gey{
    padding-top: 10px;
}
.gey img:hover{
    cursor: pointer;
}
.tv{
    text-align: center;
    background-color: rgb(34, 35, 38);
    height: 400px;
}
.tv h1{
    color: #ffffff;
    padding-top: 20px;
}
.tv img{
    height: 180px;
    padding-top: 50px;
}
.devices{
    display: flex;
    margin-left: 250px;
    padding-top: 10px;
}
.devices p{
    padding: 10px;
    font-size: 17px;
}
.mobile{
    color: white;
}
.green{
    color: green;
    text-decoration: underline;
}
.green:hover{
    cursor: pointer;
    color: rgb(74, 190, 74);
}
.stuff{
    background-color: black;
    width: 55%;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
}
.stuff h1{
    color: #ffffff;
    padding-top: 100px;
}
.in{
    color: #ffffff;
    margin-left: -160px;
}
.fn{
    color: #ffffff;
    margin-left: -95px;
}
.free{
    width: 230px;
    background-color: rgba(128, 128, 128, 0.596);
    
}
.back{
    background:linear-gradient(rgba(17, 16, 16, 0.795) -70%, rgb(0, 0, 0) 20%);
    text-align: center;
    margin-top: -50px;
} 
.goth{
    height: 20px;
}
.give{
   background-color: black;
   border-color: #ffffff;
   color: #ffffff;
   border-radius: 40px;
   padding: 5px 30px 10px 30px;
}
.fed{
    margin-top: -35px;
    margin-right: -20px;
}
.give img{
    height: 30px;
    padding-right: 140px;
    margin-left: -20px;
    padding-bottom: 10px;
}
.cont{
    color: #ffffff;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-color: #ffffff;
    border-radius: 40px;
    margin-bottom: 40px;
}
.take{
    background-color: black;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 40px;
    padding: 5px 40px 10px 40px;
}
.take img{
    height: 30px;
    padding-right: 140px;
    margin-left: -20px;
    padding-bottom: 10px;
}
.eat{
    background-color: black;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 40px;
    padding: 5px 40px 10px 40px;
}
.eat img{
    height: 30px;
    padding-right: 140px;
    margin-left: -20px;
    padding-bottom: 10px;
}
hr{
    max-width: 400px;
    margin-left: 170px;
    margin-bottom: 50px;
}
.free{
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: ;
}
